<div class="visions">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-12 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
            <h2>{{ page.header.title|raw }}</h2>
            <span class="line"></span>
            {{ content|raw }}
        </div>
        </div>
        {% if page.header.visions %}
        <div class="row justify-content-center align-items-center">
            {% for element in page.header.visions %}
            <div class="col-lg-4 col-sm-6 col-md-4 os-animation text-center" data-os-animation="fadeInLeft" data-os-animation-delay="0.4s">
                <div class="hover-animate">
                    <h3>{{ element.title|raw }}</h3>
                </div>
                <span class="line"></span>
                <div class="hover-animate">
                    {{ element.text|raw }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
